@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
  }

  @font-face{
    font-family: 'Pokemon';
    src: url('./assets/fonts/Retro_Gaming.ttf');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Pokemon', sans-serif;   
  }